<div class="d-flex justify-content-center align-items-center w-100 h-100 login-container">
    <div class="col-xl-4 col-md-6 col-10">
        <div class="card border-0 box-shadow rounded-0">
            <div class="card-header d-flex justify-content-center align-items-center border-0 box-shadow">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
            </div>
          
                
                    
                
                                     
                          <p class="loader-text">VE<span>LLORA</span></p>              
               
                  
           
             
            <div class="card-body text-center pb-1">
                <h2>Admin login</h2>
                <small class="text-danger" *ngIf="invalidusername">Incorrect username or password</small>

                <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="text-left mt-4">
                    <div class="form-group">
                        <input [formControl]="email" class="form-control validation-field" placeholder="Email" type="text">
                        <small class="text-danger" *ngIf="form.get('email').touched && form.get('email').hasError('required')">Email
                            is required</small>
                        <small class="text-danger" *ngIf="form.get('email').touched && form.get('email').hasError('email')">Invalid
                            email address</small>
                    </div>
                    <div class="form-group">
                        <input [formControl]="password" class="form-control validation-field" placeholder="Password" type="password">
                        <small class="text-danger" *ngIf="form.get('password').touched && form.get('password').hasError('required')">Password
                            is required</small>
                        <small class="text-danger" *ngIf="form.get('password').touched && form.get('password').hasError('minlength')">Password
                            isn't long enough, minimum of 6 characters</small>
                    </div>
                    <div class="form-group d-flex justify-content-between">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="login-checkbox">
                            <label class="custom-control-label" for="login-checkbox">Keep me signed in.</label>
                        </div>
                        <a class="transition pull-right" href="javascript:void(0);">Forgot password?</a>
                    </div>
                    <div class="form-group">
                        <button [disabled]="!form.valid" class="btn btn-block" type="submit">Sign in</button>
                    </div>
                </form>
            </div>
           
        </div>
    </div>
</div>